body{
    background-color: rgb(90, 201, 90);
}

button{
    margin-left: 5px;
    margin-right: 5px;
    border-color: blueviolet;
    color: blueviolet;
    background-color: aqua;
}

.button-div{
    display: flex;
    margin: 10px 0;
    flex-wrap: wrap;
    justify-content: space-around;
}

#grid{
    display: flex;
    margin: 0 auto;
    background-color: aqua;
    width: 80vw;
    height: 80vw;
    max-height: 90vh;
    max-width: 90vh;
    flex-wrap: wrap;
}

.item{
    background-color: blueviolet;
    box-sizing: border-box;
    border: 0.2px black solid;
    height: 16px;
    width: 16px;

}