#button-div{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#grid{
    display: flex;
    margin: 0 auto;
    background-color: aqua;
    width: 80vw;
    flex-wrap: wrap;
}

.item{
    background-color: blueviolet;
    box-sizing: border-box;
    border: 1px black solid;
    height: 16px;
    width: 16px;

}